.ui-field-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.ui-field-group__header {
  display: flex;
  flex-direction: column;
  gap: var(--space-50);
  padding: var(--space-200) 0;
}
.ui-field-group__label {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: var(--color-content-bold);
}
.ui-field-group__description {
  font-size: 14px;
  color: var(--color-content-subtle);
}
.ui-field-group__content {
  display: flex;
  flex-direction: column;
}
.ui-field-group__help {
  display: flex;
  align-items: flex-start;
  gap: var(--space-200);
  padding-top: var(--space-200);
}
.ui-field-group__help-icon {
  display: inline-flex;
  color: var(--color-content-subtle);
  flex-shrink: 0;
  padding-top: var(--space-25);
}
.ui-field-group__help-text {
  font-size: 12px;
  line-height: 18px;
  color: var(--color-content-subtle);
}
.ui-field-group--error .ui-field-group__help-icon,
.ui-field-group--error .ui-field-group__help-text {
  color: var(--color-content-danger-default);
}
