.ui-list-header {
  display: flex;
  gap: var(--space-400);
  padding: 0 var(--space-400);
  width: 100%;
}
.ui-list-header__headline {
  flex: 1;
  min-width: 0;
  margin: 0;
}

.ui-list-header__trailing {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: var(--space-200);
  flex-shrink: 0;
}
.ui-list-header__trailing-text {
  white-space: nowrap;
}

.ui-list-header--small {
  align-items: flex-end;
  padding-top: var(--space-400);
  padding-bottom: var(--space-200);
}
.ui-list-header--small .ui-list-header__headline,
.ui-list-header--small .ui-list-header__trailing-text {
  color: var(--color-content-subtle);
}

.ui-list-header--medium {
  align-items: center;
  padding-top: var(--space-400);
  padding-bottom: var(--space-200);
}
.ui-list-header--medium .ui-list-header__headline {
  color: var(--color-content-bold);
}
.ui-list-header--medium .ui-list-header__trailing-text {
  color: var(--color-content-default);
}

.ui-list-header--large {
  align-items: flex-end;
  padding-top: var(--space-200);
  padding-bottom: var(--space-200);
}
.ui-list-header--large .ui-list-header__headline {
  color: var(--color-content-bold);
}
.ui-list-header--large .ui-list-header__trailing-text {
  color: var(--color-content-default);
}
