.ui-page-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-400);
  width: 100%;
  padding: var(--space-100) var(--space-200);
  background: var(--color-background-default);
}

.ui-page-navigation__label {
  flex: 1 0 0;
  min-width: 0;
  text-align: center;
  color: var(--color-content-default);
}
