.ui-tab-bar {
  background: var(--color-background-default);
  border-top: 1px solid var(--color-border-subtle);
}
.ui-tab-bar__items {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}
.ui-tab-bar__item {
  flex: 1;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-50);
  padding: var(--space-200) var(--space-100) 0;
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--color-content-subtlest);
  transition: color 0.15s;
}
.ui-tab-bar__item--active {
  color: var(--color-content-bold);
}
.ui-tab-bar__item--active .ui-tab-bar__icon {
  color: var(--color-content-brand-default);
}
.ui-tab-bar__icon {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}
.ui-tab-bar__icon > svg {
  width: 24px;
  height: 24px;
}
.ui-tab-bar__icon > i[class] {
  width: 24px;
  height: 24px;
  font-size: 24px;
}
.ui-tab-bar__badge {
  position: absolute;
  top: calc(var(--space-100) * -1);
  right: calc(var(--space-200) * -1);
  min-width: 16px;
  height: 16px;
  padding: 0 var(--space-100);
  border-radius: var(--radius-200);
  background: var(--color-background-danger-default);
  color: var(--color-content-fixed-white);
  font-size: 10px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.ui-tab-bar__badge--dot {
  top: -3px;
  left: 14px;
  right: auto;
  min-width: 12px;
  width: 12px;
  height: 12px;
  border: var(--color-background-default) solid 2px;
  padding: 0;
  border-radius: 50%;
}
